<footer>
    <h3>Richa's Portfolio</h3>

    <div class="icons">
        <div class="social">
            <a href=""><i class="fa-brands fa-instagram hover-icon"></i></a> 
            <a href="https://www.linkedin.com/in/richa-patel7247"><i class="fa-brands fa-linkedin hover-icon"></i></a>
            <a href=""><i class="fa-brands fa-facebook hover-icon"></i></a>
            <a href=""> <i class="fa-brands fa-twitter hover-icon"></i></a>
           
        </div>

        <div class="hover-icon">
            &copy; copyright
        </div>

    </div>
</footer>