<%- layout("./layouts/boilerplate.ejs") %>
<div class="about">
    <div class="about-content">
        <h2>About me</h2>
        <p>Hi, I'm Richa Patel, a passionate and detail-oriented Full Stack Web Developer with a strong foundation in both front-end and back-end technologies.
            I specialize in building responsive, scalable, and user-friendly web applications that deliver real value.</p>
       
            <p>With hands-on experience in modern frameworks and tools like React, Node.js, Express, and MongoDB (MERN stack),
                I enjoy turning complex problems into elegant, functional solutions. Whether it's designing intuitive user interfaces or developing robust server-side logic,
               I strive to write clean, maintainable code that follows best practices.</p>
       
               <p>I’m constantly learning and keeping up with the latest trends in web development to bring innovative and efficient solutions to every project I work on. Let’s build something great together!</p>
    </div>

    <div class="about-img"><img src="/assets/richa.jpg" alt="richa"></div>
  
</div>
<div class="skills">
    <h2>Tech Skills</h2>
    <ul>
     <li>Strong Command on DSA with JAVA</li>
     <li>Frontent: REACT HTML, CSS, BOOTSTRAP, TAILWIND, JAVA SCRIPT.</li>
     <li>Backend: Node.js, Node:Express, Node:EJS, REST.</li>
     <li>Database: Mongo DB, SQL (basics).</li>
     <li>Tools: GIT & GITHUB, Redux, Terminal, Visual Studio Code.</li>
    </ul>
</div>