<%- layout("./layouts/boilerplate.ejs") %>
<h2 style="padding-left: 3rem;">Certifications <i class="fa-brands fa-web-awesome"></i></h2>
<div class="cert">
    <div class="box">
        <img src="/assets/DSA.png" alt="DSA">
        <div class="desc">
            <h4>Data Structures & Algorithms Certification</h4>
            <i>Issued by Apna College</i>
            <p>Completed a Data Structures and Algorithms course by Apna College,
                covering key concepts such as arrays, linked lists, stacks, queues, trees, graphs, recursion, sorting, searching, and dynamic programming, with a strong focus on problem-solving and coding efficiency. 
                Gained strong problem-solving skills.


            </p>
        </div>
    </div>

    <div class="box">
        <img src="/assets/webdev.png" alt="Web Dev">
        <div class="desc">
            <h4>Full Stack Web Development Certification</h4>
            <i>Issued by Apna College</i>
            <p>Completed an extensive Full Stack Web Development program covering both front-end and back-end technologies. Gained hands-on experience with HTML, CSS, JavaScript, React, Node.js, Express, MongoDB, REST APIs, and version control using Git. Built and deployed full-featured web applications following modern development practices.</p>
        </div>
    </div>
</div>

<div class="cert">
<div class="box">
    <img src="/assets/deepdive.png" alt="deep dive">
    <div class="desc">
        <h4>Lumenore Deep Dive – Certificate of Appreciation</h4>
        <i>Issued by Lumenore</i>
        <p>Awarded for successfully completing the Lumenore Deep Dive course with outstanding performance and remarks <b>91.67%</b>.
            In this course I received a brief introduction to Ask Me module of Lumenore. Using Ask Me, I can automatically generate results and displays charts or graphs that allow the users to take data driven decisions.
About Ask Me
        </p>
    </div>
</div>

<div class="box">
    <img src="/assets/lumenorefundamentals.png" alt="Web Dev">
    <div class="desc">
        <h4>Lumenore Fundamentals – Certificate of Appreciation</h4>
        <i>Issued by Lumenore</i>
        <p>Awarded for successfully completing the Lumenore Fundamentals course with outstanding performance and remarks <b>91.67%</b>.In this course I received a quick introduction to Lumenore. Now I am able to grasp all of its modules, including their features and functionalities.</p>
    </div>
</div>
</div>


<div class="cert">
    <div class="box">
        <img src="/assets/youngTurks.jpeg" alt="quiz">
        <div class="desc"> <h4>Participation Certification</h4>
        <i>Issued by Naukri Campus</i>
        <p>This is to certified that successfully participated in naukri campus <b>Young Turks</b>, india's largest skill contest organized by Naukri Campus</p>
    </div>
    </div>

    <div class="box">
        <img src="/assets/coddingChallenge19.png" alt="codding challenge">
        <div class="desc"> <h4>Participation Certification</h4>
        <i>Issued by Naukri Campus</i>
        <p>This is to certified that successfully participated in naukri campus <b>Codequezt # 19 Codding Challenge</b>,  organized by Naukri Campus</p>
</div>
</div>
</div>



