<%- layout("./layouts/boilerplate.ejs") %>
<div class="cont-container">
    <h1>contact me</h1>

    <h4>Instagram    <i class="fa-brands fa-instagram hover-icon"></i></h4> 
    <a href="https://www.linkedin.com/in/richa-patel7247"><h4>LinkedIn  <i class="fa-brands fa-linkedin hover-icon"></i> </h4></a>
</div>