<%- layout("/layouts/boilerplate.ejs") %>
    <div class="main">
        <div class="left-cont"> Hi, My name is <span>Richa Patel</span><div>and I am a passionate <div> </div> <span id="element"></span> </div>
        <div class="buttons"> <button>Download Resume</button>
        <button>View GitHub</button>
    </div>
    </div>
        <div class="right-cont">
            <img src="/assets/richa.jpg" alt="image">
        </div>
    </div>

    <!-- <div class="work">
        <p><span>What I have done</span></p>
        <h2>Work Experience</h2>
        <hr>
        <div class="items">
            <div>
                <div class="w-item"></div>
                <p class="skills-name">HTML(2024)</p>
            </div>

            <div>
                <div class="w-item"></div>
                <p  class="skills-name">CSS</p>
            </div>

            <div>
                <div class="w-item"></div>
                <p  class="skills-name">Java Script</p>
            </div>

            <div>
                <div class="w-item"></div>
                <p  class="skills-name">Node JS</p>
            </div>

            <div>
                <div class="w-item"></div>
                <p  class="skills-name">Express JS</p>
            </div>

            <div>
                <div class="w-item"></div>
                <p  class="skills-name">Mongo DB</p>
            </div> -->
        </div>  

    </div>
