<%- layout("/layouts/boilerplate.ejs") %>
    <div class="main">
        <div class="left-cont"> Hi, My name is <span>Richa Patel</span><div>and I am a passionate <div> </div> <span id="element"></span> </div>
        <div class="buttons"> <button>Download Resume</button>
        <button>
            <a href="https://github.com/richapatel7247?tab=repositories">View GitHub</a>
        </button>
    </div>
    </div>
        <div class="right-cont">
            <img src="/assets/richa.jpg" alt="image">
        </div>
    </div>

        </div>  

    </div>
