<%- layout("./layouts/boilerplate.ejs") %>

<div class="project-container">
    <h2>Projects</h2>

     <div class="project">
        <div class="project-desc"><h3>Portfolio Website</h3>
            <p>My personal portfolio website is a modern, responsive web application designed to showcase my skills, projects, and experience as a developer. It serves as a central hub for potential employers, collaborators, or clients to explore my work, contact me, and learn more about my background.</p>
            <h4>Key Features</h4>
            <ul>
                <li>Homepage with Hero Section: A visually appealing introduction with a clear call to action.</li>
                <li>Projects Showcase: Interactive cards or modals presenting detailed project descriptions, technologies used, and live/demo links.</li>
                <li>About Me Section: A concise bio highlighting my background, skills, and career goals. </li>
                <li>Clean, responsive UI using ejs templates.</li>
                <li>Build with different models</li>
                <li>build this website from scratch.</li>

            </ul>
            <h4>Technologies Used:</h4>
            <ul>
                <li>Frontend: HTML, CSS and Javascript</li>
                <li>Backend: Node.js and Express</li>
                <li>Tools:Visual Studio Code,GitHub and Git for version control </li>
            </ul>
        </div>

        <div class="project-img">
            <img src="/assets/portfolio.png" alt="Portfolio">
            <button><a href="https://github.com/richapatel7247/Portfolio">check on github</a></button>
        </div>
        
    </div>

     <div class="project">
        <div class="project-desc"><h3>Simon Says Memory Game </h3>
            <p>The Simon Says game is a memory-based game that challenges players to recall and repeat a growing sequence of colors or sounds.It is often implemented digitally as a fun and interactive way to practice programming fundamentals such as event handling, animations, timing, and game logic.
                The game presents users with a series of flashing colored buttons, each associated with a unique sound. After the sequence plays, the user must repeat the pattern by clicking the buttons in the correct order. With each correct repetition, the sequence gets longer, increasing the difficulty. If the user makes a mistake, the game ends and offers the option to restart.
            </p>
            <h4>Key Features</h4>
            <ul>
                <li>Four-color interface (typically red, blue, yellow, and green).</li>
                <li>Increasingly challenging pattern sequences.</li>
                <li>Visual effects for user interaction. </li>
                <li>Clean, responsive UI.</li>
                <li>score tracking, high score memory, and difficulty levels</li>
                <li>build this website from scratch.</li>

            </ul>
            <h4>Technologies Used:</h4>
            <ul>
                <li>Frontend: HTML, CSS and Javascript</li>
                <li>Tools:Visual Studio Code,GitHub and Git</li>
            </ul>
        </div>

        <div class="project-img">
            <img src="/assets/simonSays.png" alt="Simon Says app">
            <button><a href="https://github.com/richapatel7247/Symon-Say-">check on github</a></button>
        </div>
        
    </div> 

    
    <div class="project">
        <div class="project-desc"><h3>WeathrX  - Real-Time Weather Forecast App</h3>
            <p>WeathrX is a modern, responsive and user-friendly web application built with React.js that provides users with real-time weather updates and forecasts based on their location or search input. The app emphasizes usability, performance, and a clean, intuitive user interface.</p>
            <h4>Key Features</h4>
            <ul>
                <li>Weather data using WeatherAPI</li>
                <li>Forecast with temperature, humidity, and wind details</li>
                <li>Dynamic weather icons that change based on temperature and conditions (e.g., sun, clouds, rain)</li>
                <li>Clean, responsive UI using React</li>
                <li>Built-in error handling for location</li>
                <li>Search functionality for cities worldwide</li>
            </ul>
            <h4>Technologies Used:</h4>
            <ul>
                <li>Frontend: React</li>
                <li>State Management: React Hooks (useState, useEffect)</li>
                <li>APIs: Weather API used</li>
                <li>Tools:Visual Studio Code,GitHub and Git for version control </li>
            </ul>
        </div>

        <div class="project-img">
            <img src="/assets/weather.png" alt="weather app">
        </div>
        
    </div>

    <div class="project">
        <div class="project-desc"><h3>Community Stay </h3>
            <p>This plateform is build for those people who want to give their space on rent and for travelors who are searching space for rent.</search></p>
            <h4>Key Features</h4>
            <ul>
                <li>User Authentication: Secure login/signup for hosts and guests.</li>
                <li>Property Listings: Hosts can add photos, descriptions, prices, location, andcountry. Host can delete, edit their listings.</li>
                <li>Reviews & Ratings: Guests can leave reviews after completed stays to build trust.</li>
                <li>guests only can explore different places they can't delete and edit listing they only can leave their reviews and delete it.</li>
                <li>Used MVC(Model, View, Controler) and various modules.</li>
                <li>Clean, responsive UI using ejs templates.</li>

            </ul>
            <h4>Technologies Used:</h4>
            <ul>
                <li>Frontend: HTML, CSS, BOOTSTRAP and Javascript</li>
                <li>Backend: Node.js and Express</li>
                <li>Database: MongoDB</li>
                <li>Tools:Visual Studio Code,GitHub and Git for version control </li>
            </ul>
        </div>

        <div class="project-img">
            <img src="/assets/communityStay.png" alt="Community Stay">
             <button><a href="https://github.com/richapatel7247/Wonderlust">check on github</a></button>
        </div>
        
    </div>

   
</div>
   
